/* Limpar configuracoes padroes */

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    background-color: #f3f3f3;
}

#navegacao{
    height: 42px;
    background-color: #fff;
    border-bottom: ipx solid #d8d8d8;
    position: fixed;
    width: 100%;
    top: 0px;
}

#area{
    width: 720px;
    margin: 0 auto;
}

#area-principal{
    width: 720px;
    margin: 10 auto;
    margin-top: 10px;
}

#logo{
    float: left;
}

.verde{
    color: green;
}

#menu{
    float: right;
    padding: 12px 0;
}

#postagem{
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.data-postagem{
    display: block;
    font-size: 12px;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.img-postagem{
    float: left;
    padding: 0px 10px 5px 0px;
}

#postado{
    padding-top: 20px;
    display: block;
}

a{
    text-decoration: none;
    padding: 5px 12px;
}

a:link{
    color: #838383;
}

a:visited{
    color: #838383;
}

a:hover{
    color: #838383;
    background-color: #b9c941;
}

a:active{
    color: #838383;
}